@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,200;0,400;0,700;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-weight: 700; */
    /* font-family: 'Work Sans', sans-serif; */
    /* font-size: 1rem; */
    font-family: 'Comfortaa', cursive;


}
html {
    scroll-behavior: smooth;
    /* color: white; */
}

body{
    /* background-color: rgb(22, 34, 64); */
    color: white;

    

    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background: linear-gradient(rgba(0,0,0,0.6),rgb(0,0,0,0.6)),url("https://wallpapercave.com/uwp/uwp3193865.jpeg"); */
}
.wrapper{
    /* border: 4px solid teal; */
    width: 80%;
    margin: 0 auto;
}
.title{
    /* border: 3px solid red; */
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem;
}
.image-details{

    /* border: 1px solid #FF4848; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0rem;
    width: 100%;
    line-height: 1.2;
    margin: 0 auto;
    border-radius: 10px;
    /* text-transform: uppercase; */
    /* background-color: rgba(24, 22, 20, 0.804); */
    background: linear-gradient(rgba(0,0,0,0.99),rgba(0,0,0,0.8),rgba(0,0,0,0.8),rgba(0,0,0,0.999),rgba(0,0,0,0.9),rgba(0,0,0,0.8),rgba(0,0,0,0.77),rgba(0,0,0,0.6),rgba(0,0,0,0.5),rgba(0,0,0,0.9));
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: 0.3s;

}
.image{
    /* border: 3px solid rebeccapurple; */
    padding:1rem;
    
}
.image img{
    /* border: 4px solid deeppink; */
    width: 300px;
    height: 450px;
    display: block;
    margin: 0 auto;
    object-fit: contain;

}
.movie-details{
    /* border:3px solid firebrick; */
    padding: 1rem;
    width:100%;
}
.movie-details h3{
    /* border: 3px solid seagreen; */
    text-align: left;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.movie-photos{
    /* border: 3px solid red; */
    width: 100% ;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.movie-photos img{
    /* border: 3px solid darkblue; */
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.trailer{
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.trailer h3{
    padding: 3rem;
}
.video{
    /* border: 5px solid rgb(82, 49, 0); */
    /* padding: 3rem; */
    width:100%;
     /* height: auto;  */
    margin: 0 auto;
    height: auto;
    aspect-ratio: 16/9;
    

    
    
}
iframe{
    /* border: 5px solid greenyellow; */
    width: 100%;
    /* height: 100%; */
    height: auto;
    aspect-ratio: 16/9;
}




.more-movies{
    /* border: 3px solid rebeccapurple; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

}


.more-movies a{
    /* border: 3px solid wheat; */
    padding: 2rem;
    margin:0.5rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 0.3s;
}
.more-movies a:hover{
    transform: scale(1.07);
    background: rgb(255, 225, 0);
    color: black;
    font-weight: 700;
}



.more-heading{
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem;
    font-size: 1rem;
}


@media only screen and (max-width: 1200px){

body{
    /* background-color: fuchsia; */
}

.more-movies{
    grid-template-columns: repeat(2,1fr);
}
}




@media only screen and (max-width: 780px){
 

  body{
    /* background-color: aquamarine; */
  }
  .wrapper{
    width: 90%;
    margin: 0 auto;
}
 .image-details{
    /* border: 4px solid darkmagenta; */
    display: flex;
    flex-direction: column;
    
}
.more-movies{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}



@media only screen and (max-width: 550px){

   body{
    /* background-color: blue; */
   }
   .wrapper{
    width: 95%;
   }

 
}
